.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}
.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
  margin-top: 10px;
}
.img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.factoryInput__label {
  color: #04aaff;
  cursor: pointer;
  margin-top: 15px;
}

.factoryForm__clear {
  color: #04aaff;
  cursor: pointer;
  text-align: center;
  margin: 10px 0px;
}

.factoryForm__clear span {
  margin-right: 10px;
  font-size: 14px;
}
.cancelBtn {
  cursor: pointer;
  background-color: tomato;
}
.logOut {
  margin-top: 50px;
}
