.kweet {
  margin-bottom: 35px;
  background-color: white;
  width: 100%;
  max-width: 320px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}

.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.kweetEdit .formBtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.kweet h4 {
  font-size: 14px;
  margin-top: 5px;
}
.kweet h6 {
  font-size: 12px;
  margin-left: 25px;
  margin-bottom: 10px;
}

.img {
  right: -10px;
  top: 20px;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
.avatar {
  left: 3px;
  bottom: 35px;
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.kweet__actions {
  position: absolute;
  right: 10px;
  top: 10px;
}
.kweet__actions span {
  cursor: pointer;
}

.kweet__actions span:first-child {
  margin-right: 10px;
}
